html{
  margin:0px;
  padding:0px;
  cursor: url("../images/png/002-cursor.png"), auto;
}

body{
  margin: 0px;
  padding-left:80px;
  padding-right: 80px;
  padding-bottom:14%;
  background: linear-gradient(45deg,
    rgba(0, 0, 0, 0.3), 
    rgb(52, 124, 152,0.4),
    rgba(0, 0, 0, 0.3)
  ),url("../images/img5.jpg") ;
  cursor: url("../images/png/002-cursor.png"), auto;
}
#lititle{
  font-family: 'Allura', cursive;
  font-size: 60px;
  color: black;
}
#logo{
  width: 75px;
}
#formbox{
  width: 700px;
  font-family: 'Quicksand', sans-serif;
  font-size:26px;
  color:white;
}
input{
  width: 400px;
  height:30px;
  font-family: 'Quicksand', sans-serif;
  padding-left: 1%;
  font-size:18px;
  border-radius: 10px;
  border-bottom:10px rgb(255, 115, 33);
}
#cancel{
  height: 30px;
  width: 120px;
  padding: 2px;
  padding-top:3px;
  margin-right:40px;
  border:0px;
  border-radius:15px;
  background:white;
  box-shadow: 3px 3px 2px rgb(255, 115, 33);
  color: rgb(30, 30, 36);
  font-family: 'Julius Sans One', sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
  /*font-weight: 600;*/
  font-size: 17px;
  font-weight: 600;
  cursor: url("../images/png/002-cursor.png"), auto;
}

#cancel:hover{
  background: rgb(255, 115, 33);
  box-shadow: 3px 3px 5px #2d3436;
  color:rgb(30, 30, 36);
  cursor: url("../images/png/001-cursor-1.png"), pointer; 
}

#submit{
  height: 30px;
  width: 120px;
  padding: 2px;
  padding-top:3px;
  border:0px;
  border-radius:15px;
  background:rgb(30, 30, 36);
  box-shadow: 3px 3px 2px rgb(255, 115, 33);
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
  /*font-weight: 600;*/
  font-size: 17px;
  font-weight: 600;
  cursor: url("../images/png/002-cursor.png"), auto;
}
#submit:hover{
  background: white;
  box-shadow: 3px 3px 5px #2d3436;
  color:rgb(30, 30, 36);
  cursor: url("../images/png/001-cursor-1.png"), pointer; 
}