html,body{
  margin: 0px;
  padding: 0px !important;
  cursor: url("images/png/002-cursor.png"), auto;
}

#headimg{
	background-repeat: no-repeat;
	background-size: cover;
	/*padding*:10px*/
	margin:auto;
	flex-wrap: wrap;
	/*border-radius:3px;*/ 
}

#head{
	height: 25%;
	border: 5px;
	margin: auto;
	padding:2px;
	text-align: center;
	/*border-radius: 10px;*/
	background-color: rgb(52, 124, 152,0.4);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Federo', sans-serif;
	font-size: 30px;
	color: white;
	align-self: baseline;
}
#head h1{
	font-size:35px;
	color:white;
}
#div1{
	background-color: rgba(0,0,0,0.4);
	height:45px;
	margin: auto;
}
#nav{
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding-bottom: 2px;
	/*list-style-type: none;
	text-decoration: none;
	text-align: center;*/
	height: 20px;
}
li{
	margin: 3px;
	width: 15%;
	font-family: 'Mallanna', sans-serif;
	display: inline-block;
	font-size: 20px;
	justify-content:space-around;
}
a{
	padding:2px;
	list-style-type: none;
	text-align: center;
	text-decoration: none;
	color: white;
}
a:hover{
	background-color: rgba(225,225,225,1);
	color: black;
    cursor: url("images/png/001-cursor-1.png"), pointer; 
	/*border-radius: 50%;*/
}
#viewDiv{
	border-radius: 3px;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}