html,body{
  margin: 0px;
  padding: 0px !important;
  cursor: url("../images/png/002-cursor.png"), auto;
}

#menu{
  list-style-type: none;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 600;
  /*background:rgb(115, 116, 123) #;*/
  background: rgb(30, 30, 36);
  /*box-shadow: 3px 3px 5px #FFF;*/
  position:fixed;
  margin: 0px;
  padding:0px;
  top:0;
  width:100%;
  /*display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;*/
}

#menu li{
  float: right;
  color:rgb(255, 115, 33);
  /*flex-direction: row-reverse;*/
  margin:2px;
  padding: 0px;
  padding-top: 16px;
}

#menu #index{
  float:left !important;
  font-size:27px;
  align-self: flex-start;
  padding:1px;
}

#menu li a{
  display: inline;
  color:white;
  overflow: hidden;
  padding: 1px 25px 1px;
  margin: auto;
  text-decoration: none;
  /*font-size: 17px;*/
}

#menu li a:hover{
  color:rgb(255, 115, 33);
  cursor: url("../images/png/001-cursor-1.png"), pointer; 
}

.web-0-gis{
margin: 0px;
font-family: 'Allura', cursive;
font-size: 22px;
}

#logo{
  width: 16%;
}

#header{
  height:100%;
  background: linear-gradient(45deg,
    rgba(0, 0, 0, 0.3), 
    rgb(52, 124, 152,0.4),
    rgba(0, 0, 0, 0.3)
  ),url("../images/img1.jpg") ;
  /*background-color: rgba(103, 46, 0,0.5);
  background-repeat: no-repeat;*/
  background-size: cover;
  margin:0;
  padding:12%;
  padding-left: 450px;
  display:flex;
  flex-wrap: wrap;
}


#title{
  padding:12px;
  background:rgb(255, 115, 33);
  color:rgb(30, 30, 36);
  font-family:'Allura', cursive;
  /*font-family: 'Allura', Cursive;*/
  font-size: 90px;
  font-weight: 900;
  box-shadow: 15px 15px 2px rgb(30, 30, 36);
}

.button1{
  height: 30px;
  width: 120px;
  padding: 2px;
  padding-top:3px;
  border:0px;
  border-radius:15px;
  background:rgb(30, 30, 36);
  box-shadow: 3px 3px 2px rgb(255, 115, 33);
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
  /*font-weight: 600;*/
  font-size: 17px;
  font-weight: 600;
  cursor: url("../images/png/002-cursor.png"), auto;
}

.button1:hover{
  background: white;
  box-shadow: 3px 3px 5px #2d3436;
  color:rgb(30, 30, 36);
  cursor: url("../images/png/001-cursor-1.png"), pointer; 
}
#about, #howTo,#references,#contactUs{
  font-family: 'Quicksand', sans-serif;
  font-size: 23px;
  /*color: white;*/
  color: rgb(30, 30, 36);
  background: whitesmoke;
  text-align: justify;
  text-justify: inter-word;
  margin:0;
  padding:2%;
  padding-left: 25%;
  padding-right: 25%;
  height: auto;
}

.subtitles{
  color: rgb(255, 115, 33);
  font-size:3rem;
}

p{

  font-family: 'Maitree', serif;
  font-size: 1rem;
}
#references ul{
  list-style-type: none;
  font-family: 'Maitree', serif;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1rem;
  line-height: 2rem;
}
#references li{
  color:rgb(30, 30, 36);
  
}
#references li a{
  color:rgb(30, 30, 36);
  overflow: hidden;
  text-decoration: none;
}
#references li a:hover{
  /*color:rgb(255, 152, 0);*/
  text-decoration: underline;
  text-decoration-color: rgb(255, 115, 33);
  cursor: url("../images/png/001-cursor-1.png"), pointer; 
}

.contactImg{
  height:200px;
  width:200px;
  border-radius: 100px;
  /*border:5px #2d3436;
  background-size: contain;*/
  
}
.contactImg:hover{
  box-shadow: 5px 7px 25px #2d3436;
  cursor: url("../images/png/001-cursor-1.png"), pointer; 
}
p{
  display:inline;
  text-align: center;
}
i{
 font-style: normal;
 font-size: 1rem;
}
footer{
  background-color: rgb(30, 30, 36);
  color:white;
  height:40px;
  padding: 12px;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}